@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  --primary-color: #0532d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set base font size to 10px (for easier rem math) */
html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  background-color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* Now: 1rem = 10px, 1.6rem = 16px, 2rem = 20px, etc. */
  font-size: 1.6rem; /* = 16px */
}

a {
  text-decoration: none;
  color: #333;
}

/* reuse style start */

.margin-x {
  margin-left: 120px;
  margin-right: 120px;
}

/* reuse style stop  */

/* header start  */

header {
  background-color: #f0f0f0;
  position: relative;
  width: 100%;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 60px;
  position: absolute;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: #fff;
  padding-inline-start: 0px;
  list-style-type: none;
}

nav ul li {
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
  line-height: 100%;
}

.register {
  border: solid 1px #fff;
  border-radius: 50px;
  padding: 1.6rem 3rem;
}
.register a {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.hero-section {
  background-color: #333;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("/assets/hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* or `contain` based on your need */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 1024px; */
  height: 100vh;
  width: 100%;
}

.hero-content {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero-text h2 {
  max-width: 1195px;
  margin-top: 30px;
  font-size: 7rem;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0%;
}

.hero-text h2 span {
  color: var(--primary-color);
}

.hero-text p {
  max-width: 921px;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 120%;
  color: #fff;
  letter-spacing: 0%;
}

.hero-btn {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  align-items: center;
}

.hero-btn a {
  color: #fff;
  padding: 1.6rem 3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 100%;
  border-radius: 50px;
}

.hero-btn .btn-fill {
  background-color: var(--primary-color);
}

.hero-btn .btn-stroke {
  border: 1px solid #fff;
  box-sizing: border-box;
}
/* header stop  */

/* main start here  */

main {
  background-color: var(--primary-color);
  background-image: url("/assets/bplc.png");
  background-repeat: repeat-y;
  background-position: top center;
  background-size: contain;
  width: 100%;
  height: 300vh;
  display: flex;
  padding-top: 10rem;
  flex-direction: column;
  gap: 10rem;
}

.count-container {
  padding: 6.4rem 12.7rem;
  border: 2px solid #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.count-first-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.comesoon h2 {
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  letter-spacing: 0%;
}

.timer {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 4rem;
  border: 1.5px solid #fff;
  border-radius: 8px;
  padding: 14px 40px;
}

.timer div {
  display: flex;
  font-size: 9.6rem;
  color: #fff;
  font-weight: 700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer span {
  font-size: 16px;
  font-weight: 400;
  display: block;
}

.count-second-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

.count-second-item p {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  gap: 1px;
}

.count-second-item p span {
  display: block;
}

.form-wrapper {
  display: flex;
  width: 100%;
  background: white;
  padding: 8px;
  border-radius: 8px;
  margin-top: -4px;
  max-width: 600px;
}

.email-input {
  flex: 1;
  padding: 12px 16px;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--primary-color);
}

.submit-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(172, 189, 252, 1);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.submit-btn:hover {
  transform: translateY(-2px);
}

/* main ends here  */
